<div class="panel panel-default">
    <div class="panel panel-heading">
    <h2>Mon Panier</h2> 
    </div>
    <div class="panel panel-body">
        <div *ngIf="this.servCaddy.currentCaddie">
            <table  class="table table-striped">
                <thead>
                    
                        <td>id</td>
                        <td>Name</td>
                        <td>Quantite</td>
                        <td>Price</td>
                        
                
                </thead>
    
    <tbody *ngFor="let c of servCaddy.getCaddy()">
                    <tr>
                        <td>{{c.id}}</td>
                        <td>{{c.product.designation}}</td>
                        <td>{{c.quantite}}</td>
                        <td>{{c.price}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <td colspan="3">total</td>
                    <td >{{this.servCaddy.getTotalPriceCaddy()}}</td>
                </tfoot>
            </table>
            <div>
                <button class="btn btn-success" (click)="addClient()">Confirmer commande</button>
            </div>
        </div>
    </div>
</div>
