<div class="row">
    <div class="col-xl-10 col-lg-9 col-md-9 ml-auto">
        <div class="row pt-md-5 mt-md-4">
            <div class="col-xl-3 col-sm-6 mb-2">
                <div class="card py-3">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <i class="fa fa-shopping-cart fa-3x text-warning"></i>
                            <div class="text-right text-secondary">
                                <h5>Sales</h5>
                                <h3>350 000 FCFA</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6  mb-2">
                <div class="card py-3">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <i class="fa fa-shopping-cart fa-3x text-warning"></i>
                            <div class="text-right text-secondary">
                                <h5>Sales</h5>
                                <h3>350 000 FCFA</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6  mb-2">
                <div class="card py-3">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <i class="fa fa-shopping-cart fa-3x text-warning"></i>
                            <div class="text-right text-secondary">
                                <h5>Sales</h5>
                                <h3>350 000 FCFA</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6  mb-2">
                <div class="card py-3">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <i class="fa fa-shopping-cart fa-3x text-warning"></i>
                            <div class="text-right text-secondary">
                                <h5>Sales</h5>
                                <h3>350 000 FCFA</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
    </div>
</div>