


<div class="col-md-7 pt-5">
    <form class="register-form" [formGroup]="userForm" (ngSubmit)="addUser()">
        <div class="row">
            <div class="col-md-6">
            <div class="form-group">
                <label>Nom:</label>
                <div>
                    <input type="text" class="form-control" placeholder="Nom" formControlName="nom" >
                    <div *ngIf="f.nom.errors" >
                    <div *ngIf="f.nom.errors.required">champ obligatoir</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Preom:</label>
                    <div>
                        <input type="text" class="form-control" placeholder="Prenom" formControlName="prenom" >
                        <div *ngIf="f.prenom.errors" >
                        <div *ngIf="f.prenom.errors.required">champ obligatoir</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Tel:</label>
                    <div>
                        <input type="text" class="form-control" placeholder="Tel" formControlName="tel" >
                        <div *ngIf="f.tel.errors" >
                        <div *ngIf="f.tel.errors.required">champ obligatoir</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <div>
                        <input type="password" class="form-control" placeholder="Password" formControlName="password" >
                        <div *ngIf="f.password.errors" >
                        <div *ngIf="f.password.errors.required">champ obligatoir</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Confirme:</label>
                    <div>
                        <input type="password" class="form-control" placeholder="confirme" formControlName="confPassword" >
                        <div *ngIf="f.confPassword.errors" >
                        <div *ngIf="f.confPassword.errors.required">champ obligatoir</div>
                        <div *ngIf="f.confPassword.errors.mustMatch">mot de passe incorrect</div>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-success">Ajoutez</button>
                </div>
            </div>
            </div>
        </div>
        </form>
    
    </div>
