<div *ngIf="categories" style="width: 100%;">
      <ul class="list-group" >
        <li class="list-group-item clickable" *ngFor="let c of categories._embedded.categories" routerLinkActive="active" routerLink="/categorie/{{c.id}}">
          {{c.designation}}
        </li>
      </ul>
  </div>