<div class="row">
    <div class="col-xl-10 col-lg-9 col-md-9 ml-auto">
        <div class="pt-md-5 mt-md-4">
            <div class="card "  *ngIf="!add">
                <!--head-->
                <div class="card-header bg-info">
                    <h4 class="card-title d-inline">Card title</h4>
                    <button class="btn btn-success float-right" (click)="addP()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                </div>
                <!--body-->
                <div class="card-body">
                    <table class="table table-hover" *ngIf="users">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">date</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Prenom</th>
                            <th scope="col">Tel</th>
                            <th scope="col">Profile</th>
                            <th></th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let u of users._embedded.utilisateurs">
                            <th scope="row">{{u.id}}</th>
                            <td>{{u.date}}</td>
                            <td>{{u.nom}}</td>
                            <td>{{u.prenom}}</td>
                            <td>{{u.tel}}</td>
                            <td>{{u.profile}}</td>
                            <td><button class="btn btn-success btn-sm" (click)="update(u.id)"><i class="fa fa-pencil" aria-hidden="true"></i></button></td>
                            <td><button class="btn btn-success btn-sm" (click)="delete(u.id)"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
                <div class="card-footer">
                  <!--Pagination-->
                    <nav aria-label="Page navigation example">
                      <ul class="pagination">
                        <li class="page-item">
                          <a class="page-link"  aria-label="Previous" (click)="previousPage()">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                          </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                          <a class="page-link"  aria-label="Next" (click)="nextPage()">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                </div>
              </div>

            <!--card2-->
            <div class="card "  *ngIf="add">
              <!--head-->
              <div class="card-header bg-info">
                  <h4 class="card-title d-inline">Card title</h4>
                  <button class="btn btn-success float-right" (click)="addP()"><i class="fa fa-plus" aria-hidden="true"></i></button>
              </div>
              <!--body-->
              <div class="card-body">
            <form class="register-form" [formGroup]="userForm" (ngSubmit)="addUser()">
              <div class="row">
                  <div class="col-md-6">
                  <div class="form-group">
                      <label>Nom:</label>
                      <div>
                          <input type="text" class="form-control" placeholder="Nom" formControlName="nom" >
                          <div *ngIf="f.nom.errors" >
                          <div *ngIf="f.nom.errors.required">champ obligatoir</div>
                          </div>
                          <input type="hidden" formControleName="id" *ngIf="isUpdate"/>
                      </div>
                      <div class="form-group">
                          <label>Preom:</label>
                          <div>
                              <input type="text" class="form-control" placeholder="Prenom" formControlName="prenom" >
                              <div *ngIf="f.prenom.errors" >
                              <div *ngIf="f.prenom.errors.required">champ obligatoir</div>
                              </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label>Tel:</label>
                          <div>
                              <input type="text" class="form-control" placeholder="Tel" formControlName="tel" >
                              <div *ngIf="f.tel.errors" >
                              <div *ngIf="f.tel.errors.required">champ obligatoir</div>
                              </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="idProfile">Profile:</label>
                          <div>
                            <select class="form-control"  formControlName="profile" id="idProfile" > 
                              <option value="">--Choisisser le profile--</option>
                              <option value="Admine">Administrateur</option>
                              <option value="Gerant">Gerant</option>
                            </select>
                             
                              <div *ngIf="f.profile.errors" >
                              <div *ngIf="f.profile.errors.required">champ obligatoir</div>
                              </div>
                          </div>
                      </div>
                      <div class="form-group" *ngIf="!isUpdate">
                        <label>Password:</label>
                        <div >
                            <input type="password" class="form-control" placeholder="Password" formControlName="password" >
                            <div *ngIf="f.password.errors" >
                            <div *ngIf="f.password.errors.required">champ obligatoir</div>
                            </div>
                        </div>
                    </div>
                      <div class="form-group" *ngIf="!isUpdate">
                          <label>Confirme:</label>
                          <div>
                              <input type="password" class="form-control" placeholder="confirme" formControlName="confPassword" >
                              <div *ngIf="f.confPassword.errors" >
                              <div *ngIf="f.confPassword.errors.required">champ obligatoir</div>
                              <div *ngIf="f.confPassword.errors.mustMatch">mot de passe incorrect</div>
                              </div>
                          </div>
                      </div>
                      <div>
                          <button type="submit" class="btn btn-success">Ajoutez</button>
                      </div>
                  </div>
                  </div>
              </div>
              </form>
            </div>
            <div class="card-footer">Footer=============</div>
            </div>
        </div>
        
    </div>
