
<div class="mt-5 ">
    <div class="pl-md-2 pt-4">
        <section class="mr-5 ml-5 mt-5">
            <div class="container-fluid">
                <div class="row  ">
                    <div style="background-color: blue;color: white;font-size: 20px;  " class="col-xl-6 col-lg-6 col-md-12 col-sm-12  pt-5">
                        <div class="text-center mt-5 mb-5">
                            <p>J'ai pas de compte</p>
                            <p>Je suis un nouveau visiteur je crée mon compte en fournissant quelques renseignement sur ma personne permettant de m'identifier</p>
                            <button class="btnRound btnRadious mt-5">Crée un compte</button>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 logContainer">
                        <div class="text-center pt-sm-4">
                           
                                <h3 class="mb-5">Authentification</h3>
                            
                            
                                <form #f="ngForm" (ngSubmit)="login(f.value)" class="loginForm">
                                    <div class="form-group  mb-5">
                                        
                                        <input class="form-control inputStyle" type="text" name="pseudo" id="pseudo" placeholder="tel" ngModel/>
                                    </div>
                                    <div class="form-group mb-5">
                                        
                                        <input class="form-control inputStyle" type="password" name="password" placeholder="password" id="password" ngModel/>
                                    </div>
                                    <div class="form-group  mb-5">
                                        <div style="text-align:left;">
                                            <input type="checkbox" id="f-option2" name="selector" ngModel style="width: 30px; height: 30px; margin-right: 7px; font-size: 20px;">
                                            <label for="f-option2" >Rester connecté</label>
                                        </div>
                                    </div>
                                    <div class="form-group" >
                                        <button class="btnLogin col-sm-12 " type="submit">Log in</button>
                                        <p><a href="#">mot de passe oublié?</a></p>
                                    </div>
                                    
                                </form>
                                <div *ngIf="errorLog"><p>{{errorLog}}</p></div>

                           
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>
