<div class="bgAll">
    <div class="mt-md-5 container-fluid ">
        <div class="row pl-md-2 pt-4 ">
            <div class="col-md-3 col-xl-3 les-categories">
                <app-categorie></app-categorie>
            </div>
            
            <div class="col-md-9 col-lg-9  col-xl-9 full-height ">
               
    <!--containte 2 col-4-->
    <div class="ligne" *ngIf="products">
        <div class="row py-md-3"  >
      
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 pb-4 " *ngFor="let p of products._embedded.products; let index=index" >
                 
             <div class="card full-height" >
                 <!--<h2 class="card-title">{{p.designation}}</h2>-->
                 <div class="img-containt">
                    <a routerLink="/detailProduit/{{p.id}}"><img src="http://localhost:3020/photo/{{p.id}}" alt="img.png" width="100%"  class="card-img-top im-in-card" /></a>
                 </div>
                <div class="card-body">
                    <p class="card-text">{{p.designation}}<br/> <b>{{p.currentPrice}} FCFA</b>
                       
                    <!--<input type="file" name="upload" (change)="upSelect($event,p.id)"/>-->
                    <div class="">
                        <div>
                            <form #f="ngForm" (ngSubmit)="addCaddy(f.value,p.id)">
                                <input type="number" name="quantity"  min="1" value="1"  style="width: 50px;"/> 
                                <button class="">Add</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>
         </div>
         
    </div>
    <div class="ligne mb-4">
        <div class="row" >
            <div class="col-sm-12 col-md-12 col-lg-6">
                <img src="assets/images/m1.jpg" alt="image" width="100%">
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <img src="assets/images/m2.jpg" alt="image" width="100%">
            </div>
        </div>
    </div>
    </div>
           
    </div>
<!--fin fin-->

</div>
