<div class="bgAll">
<div class="mt-5 container-fluid">
    <div class="row pl-md-2 pt-4 c-top">
        <div class="col-md-3 les-categories">
            <app-categorie></app-categorie>
        </div>
        
        <div class="col-md-9 col-lg-6  full-height m-carousel">
           <img src="assets/images/im1.jpg" alt="image" width="100%" height="100%"/>
        </div>
        <div class="col-lg-3 imLeft d-lg-flex flex-column align-items d-md-none d-lg-block">
            <div class="imb-1">
                <img src="http://localhost:3020/photo/1" alt="img.png" width="100%" height="100%" />
            </div>
            <div class="mb-0 imb-2">
                <img src="http://localhost:3020/photo/3" alt="img.png" width="100%" height="100%"  />
            </div>
            
        </div>
    </div>
    
</div>

<!--containte 1-->
<div class="ligne-top">
<div *ngIf="products" class="row">
    <div class="col-md-4 col-sm-12" *ngFor="let p of products._embedded.products">     
        <div class="card full-height" >
         <h2 class="card-title">{{p.designation}}</h2>
         <div class="img-containt">
            <a routerLink="/detailProduit/{{p.id}}"><img src="http://localhost:3020/photo/{{p.id}}" alt="img.png" width="100%"  class="card-img-top im-in-card" /></a>
         </div>
         <div class="card-body">
            <p class="card-text">{{p.designation}}<br/> <b>{{p.currentPrice}} FCFA</b>
               
            <!--<input type="file" name="upload" (change)="upSelect($event,p.id)"/>-->
            <div class="">
                <div>
                    <form #f="ngForm" (ngSubmit)="addCaddy(f.value,p.id)">
                        <input type="number" name="quantity"  min="1" value="1"  style="width: 50px;"/> 
                        <button class="">Add</button>
                    </form>
                </div>
            </div>
        </div>
         </div>
     </div>
</div>
</div>
<div class="mb-4">
    <div class="row" >
        <div class="col-md-6">
            <img src="assets/images/m1.jpg" alt="image" width="100%">
        </div>
        <div class="col-md-6">
            <img src="assets/images/m2.jpg" alt="image" width="100%">
        </div>
    </div>
</div>
<!--containte 2 col-4-->
<div class="ligne" *ngIf="productParTrois">
    <div class="row py-md-3" *ngFor="let ps of productParTrois; let index=index" >
  
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12" *ngFor="let p of ps.items" >
             
         <div class="card full-height" >
             <div class="img-containt">
                <a routerLink="/detailProduit/{{p.id}}"><img src="http://localhost:3020/photo/{{p.id}}" alt="img.png" width="100%"  class="card-img-top im-in-card" /></a>
             </div>
             <div class="card-body">
                <p class="card-text">{{p.designation}}<br/> <b>{{p.currentPrice}} FCFA</b>
                   
                <!--<input type="file" name="upload" (change)="upSelect($event,p.id)"/>-->
                <div class="">
                    <div>
                        <form #f="ngForm" (ngSubmit)="addCaddy(f.value,p.id)">
                            <input type="number" name="quantity"  min="1" value="1"  style="width: 50px;"/> 
                            <button class="">Add</button>
                        </form>
                    </div>
                </div>
            </div>
             </div>
        </div>
     </div>
     
</div>
<p>hhhhhhhhhhhhhnnnnnnnnnnnnnnnnnnnn nnnnnnnnnnnnnnnnnnnnnn  jjjjjjjjjjjjjjjj</p>

</div>
