<div *ngIf="product" class="col-md-6">
    <div class="panel panel-default" >
    
        <div class="panel panel-heading">
                {{product.designation}}
        </div>
        <div class="panel panel-body">
            <a><img src="http://localhost:3020/photo/{{product.id}}" alt="img.png" width="100%"  class="card-img-top" /></a>
       </div>
       <div>
        <input type="file" name="upload" (change)="upSelect($event,product.id)"/>
        <form #f="ngForm" (ngSubmit)="addCaddy(f.value,product.id)">
            <input type="number" name="quantity" ngModel  min="1"  width="5%"/> 
            <button class="">Add</button>
        </form>
    </div>
       
    </div>
</div>
