
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ndar Diaba</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  
    <div class="">
      <nav class="navbar navbar-expand-md navbar-dark  bg-dark my-nav fixed-top" *ngIf="this.logServ.admine">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Navbar</a>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/categorie/Promotion">Promotion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/caddy">Panier</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="text-white"><span  class="fa fa-shopping-cart" style="color: red;"></span>{{sizeCaddy}}</a></li>
            
          </ul>
         
          <div class="btn-group">
            <button type="button" class="btn btn-dark">Mon compte</button>
            <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">    <span class="caret"></span>
             <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
               <li class="dropdown-item"><a href="#" title="Lien 1">Lien 1</a></li>
               <li class="dropdown-item"><a href="#" title="Lien 2">Lien 2</a></li>
               <li class="dropdown-item"><a href="#" title="Lien 3">Lien 3</a></li>
               <li role="separator" class="divider"></li>
               <li class="dropdown-item" *ngIf='!this.logServ.isAuthenticate'><a routerLink="/login"> Login</a></li>
               <li class="dropdown-item" *ngIf='this.logServ.isAuthenticate'><a class="clickable" title="Lien 3" (click)="logOut()">Deconnexion</a></li>
          
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <!--vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv-->
    
    
    

      <router-outlet></router-outlet>
    


</body>
