<div class="row">
    <div class="col-xl-10 col-lg-9 col-md-9 ml-auto">
        <div class="pt-md-5 mt-md-4">
            <div class="card "  *ngIf="!add">
                <!--head-->
                <div class="card-header bg-info">
                    <h4 class="card-title d-inline">Card title</h4>
                    <button class="btn btn-success float-right" (click)="addP()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                </div>
                <!--body-->
                <div class="card-body">
                    <table class="table table-hover" *ngIf="products">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Date</th>
                            <th scope="col">Dsignation</th>
                            <th scope="col">Prix</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let p of products._embedded.products">
                            <th scope="row">{{p.id}}</th>
                            <td>{{p.date}}</td>
                            <td>{{p.designation}}</td>
                            <td>{{p.currentPrice}}</td>
                            <td><button class="btn btn-success btn-sm" (click)="update(p)"><i class="fa fa-pencil" aria-hidden="true"></i></button></td>
                            <td><button type="button" (click)="ConfedeleProduct(p.id)" class="btn btn-success btn-sm"  data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-trash" aria-hidden="true" ></i></button></td>
                            
                          </tr>
                        </tbody>
                      </table>
                </div>
                <!--  modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Etes vous sure de vouloire supprimer?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">NON</button>
                          <button type="button" class="btn btn-primary" (click)="deleProduct()">OUI</button>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="card-footer">
                     <!--Pagination-->
                     <nav aria-label="Page navigation example">
                        <ul class="pagination">
                          <li class="page-item">
                            <a class="page-link"  aria-label="Previous" (click)="previousPage()">
                              <span aria-hidden="true">&laquo;</span>
                              <span class="sr-only">Previous</span>
                            </a>
                          </li>
                          <li class="page-item"><a class="page-link" (click)="getPage(0)" [ngClass]="(this.page==0)?'active':''" >1</a></li>
                          <li class="page-item"><a class="page-link" (click)="getPage(1)" >2</a></li>
                          <li class="page-item">
                            <a class="page-link"  aria-label="Next" (click)="nextPage()" >
                              <span aria-hidden="true">&raquo;</span>
                              <span class="sr-only">Next</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                </div>
              </div>

            <!--card2-->
            <div class="card" *ngIf="add">
                <!--head-->
                <div class="card-header bg-info">
                    <h4 class="card-title d-inline">Card title</h4>
                    <button class="btn btn-success float-right"><i class="fa fa-plus" aria-hidden="true"></i></button>
                </div>
                <!--body-->
                <div class="card-body">
                    <div class="">
                        <form class="register-form" [formGroup]="categorieForm" (ngSubmit)="addCategorie()">
                                    <div class="form-group row">
                                        <label for="designation" class="col-sm-2 col-form-label">Designation:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" placeholder="Designation"
                                                formControlName="designation" id="designation">
                                            <div *ngIf="f.designation.errors">
                                                <div *ngIf="f.designation.errors.required">champ obligatoir</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Update-->
                                    <input  type="hidden" formControlName="id" *ngIf="idUpdate"/>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Description:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" placeholder="description"
                                                formControlName="description">
                                            <div *ngIf="f.description.errors">
                                                <div *ngIf="f.description.errors.required">champ obligatoir</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="prix" class="col-sm-2 col-form-label">Prix:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" placeholder="00 000"
                                                formControlName="prix">
                                            <div *ngIf="f.prix.errors">
                                                <div *ngIf="f.prix.errors.required">champ obligatoir</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row" *ngIf="categories">
                                        <label for="categorie" class="col-sm-2 col-form-label">Categorie</label>
                                        <div  class="col-sm-10">
                                            <select name="categorie" formControlName="categorie" id="categorie">
                                                <option value="">--Choisissez un categorie--</option>
                                                <option *ngFor="let c of categories._embedded.categories" [value]="c.id">
                                                    {{c.designation}}</option>
    
                                            </select>
                                            <div *ngIf="f.categorie.errors">
                                                <div *ngIf="f.categorie.errors.required">champ obligatoir</div>
                                            </div>
                                        </div>
                                        
                                    </div>

                                    <div>
                                        <button type="submit" class="btn btn-success float-right btn-lg"><span *ngIf="!idUpdate">Ajoutez</span> <span *ngIf="idUpdate">Modifiez</span></button>
                                    </div>
                        </form>
                    <div>
                        <img [src]="url" alt="image" />
                        <input type="file" name="upload" (change)="onselectedFile($event)"/>
                    </div>
                        
                    </div>
                </div>
                <div class="card-footer">Footer</div>
            </div>
        </div>