<div class="row">
    <div class="col-xl-10 col-lg-9 col-md-9 ml-auto">
        <div class="pt-md-5 mt-md-4">
            <div class="card " *ngIf="orderV">
                <!--head-->
                <div class="card-header bg-info">
                    <h4 class="card-title d-inline">Commandes</h4>
                    <button class="btn btn-success float-right"><i class="fa fa-plus" aria-hidden="true"></i></button>
                </div>
                <!--body-->
                <div class="card-body" *ngIf="orders">
                    <table class="table table-hover" >
                        <thead>
                          <tr>
                            <th scope="col">id</th>
                            <th scope="col">date</th>
                            <th scope="col">Prix total</th>
                            
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let o of orders._embedded.commandes">
                            <th scope="row">{{o.id}}</th>
                            <td>{{o.date}}</td>
                            <td>{{o.totalOrder}}</td>
                            <td>
                              <button class="btn btn-success btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                              <button class="btn btn-success btn-sm ml-2" (click)="getPductItem(o.id)">Produits</button>
                            </td>
                            <td><button class="btn btn-success btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
                          </tr>
                        </tbody>
                      </table>
                      
                </div>
                <div class="card-footer">Footer</div>
              </div>
        </div>
        <!--Card 2-->
        <div class="card " *ngIf="!orderV">
            <!--head-->
            <div class="card-header bg-info">
                <h4 class="card-title d-inline">Produit de la commnde</h4>
                <button class="btn btn-success float-right"><i class="fa fa-plus" aria-hidden="true"></i></button>
            </div>
            <!--body-->
            <div class="card-body" *ngIf="productItems"> 
                <!--table productItems-->
                <table class="table table-hover" >
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Date</th>
                      <th scope="col">Designation</th>
                      <th scope="col">Quantite</th>
                      <th scope="col">Prix</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let p of productItems._embedded.productItems">
                      <th scope="row">{{p.id}}</th>
                      <td>{{p.date}}</td>
                      <td>{{p.designation}}</td>
                      <td>{{p.quantite}}</td>
                      <td>{{p.price}}</td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <div class="card-footer">Footer</div>
          
    </div>
    </div>
</div>
