<nav class="navbar navbar-expand-md navbar-light" >

    <button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#midtarget" type="button"  >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="midtarget" >
        
        <div class="container-fluid">
            <div class="row ">
                <!-- sidebar -->
                <div class=" col-xl-2 col-md-3 sidebar fixed-top">
                    <a href="#" class="navbar-brand text-white d-block mx-auto text-center py-4 mb-3 bottom-border">Yobu Le Grand</a>
                    <div class="bottom-border pb-3 mb-3">
                        <img src="images/profil.jpg" class="rounded-circle" width="50">
                        <a href="#" class="text-white ml-1 ">Ndiaga Tall</a>
                    </div>
                    
                    <ul class="navbar-nav flex-column">
                        <li class="nav-item text-white sidebar-link current">
                            <a routerLink="/admine" class='nav-link py-3 mb-2 text-white' >
                                <i class="fa fa-home text-light mr-3 fa-lg"></i>
                                Dashbord
                            </a>
                            
                        </li>
                        <!--fin-->
                        <li class="nav-item text-white sidebar-link">
                            <a routerLink="addCategorie"class='nav-link py-3 mb-2 text-white' >
                                <i class="fa fa-user text-light mr-3 fa-lg"></i>
                                Categorie
                            </a>
                            
                        </li>
                        <!--fin-->
                        <li class="nav-item text-white sidebar-link">
                            <a routerLink="order"class='nav-link py-3 mb-2 text-white' >
                                <i class="fa fa-user text-light mr-3 fa-lg"></i>
                                Orders
                            </a>
                            
                        </li>
                        <!--fin-->
                        <li class="nav-item text-white sidebar-link">
                            <a routerLink="users"class='nav-link py-3 mb-2 text-white' >
                                <i class="fa fa-user text-light mr-3 fa-lg"></i>
                                Utilisateurs
                            </a>
                            
                        </li>
                        <li class="nav-item text-white sidebar-link">
                            <a routerLink="product"class='nav-link py-3 mb-2 text-white'>
                                <i class="fa fa-shopping-cart text-light mr-3 fa-lg"></i>
                                Produits
                            </a>
                            
                        </li>
                    </ul>
                </div>
                <!-- navbar -->
                <div class=" col-xl-10 col-md-9 ml-auto bg-dark fixed-top py-2 top-bar">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <h4 class="text-light">Dashbord</h4>
                        </div>
                        <div class="col-md-5">
                            <form>
                                <div class="input-group">
                                    <input type="text" name="search" class="form-control search-input" placeholder="search...." />
                                    <button class="btn btn-primary" type="button"><i class="fa fa-search  text-danger"></i></button>
                                </div>
                            </form>
                                
                        </div>
                        <div class="col-md-3">
                            <ul class="navbar-nav">
                                <li class="nav-item icon-parent">
                                    <a href="#" class="nav-link icon-builet"><i class="fa fa-comments text-light"></i> </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link"><i class="fa fa-comment text-light"></i> </a>
                                </li>
                                <li class="nav-item ml-md-auto">
                                    <a href="#" class="nav-link" data-toggle="modal" data-target="#id-modal"><i class="fa fa-sign-out text-light"></i> </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</nav>

<div class="modal fade" id="id-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                    <h4 class="modal-title">Hello you le grand</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        </div>
        <div class="modal-body">
            Press log out to leave
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" data-dismiss="modal">Stay hier</button>
            <button class="btn btn-danger">Logout</button>
        </div>
    </div>
</div>

<section>
   
    <div class="container-fluid ">
        <router-outlet></router-outlet>
      
    </div>
</section>

