/* You can add global styles to this file, and also import other style files */
.bgAll{
	background: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,19)),url("assets/images/pp.jpg");
}
.clickable{
    cursor: pointer;
}
.inputStyle{
	border-top: 0;
	border-left: 0;
	border-right: 0;
	font-size: 25px;
}
.loginForm{
	font-size: 25px;
}
.logContainer{
	box-shadow: 1px 1px 1px 1px #eee;
}
.btnLogin{
	background: blue;
	border-radius: 30px;
	color: white;
	padding: 6px;
	transition: all .4s;
}
.btnLogin:hover{
	background: white;
	border-radius: 30px;
	padding: 6px;
	color:black;
}
.btnRound{
	background: transparent;
	border: 1px solid white;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
	font-size: 25px;
	transition: all .4s;
}
.btnRound:hover{
	background: red;
	border: none;
	box-shadow:1px 1px 1px 1px black ;
}
.btnRadious{
	border-radius: 30px;
}
.inputStyle:focus{
	
	box-shadow: none;
}
.ligne{
    margin-top: 2%;
    display: block;
    background-color: white;
    padding-left: 2%;
    padding-right: 2%;
    border: solid;
}
.all-containte{
   
}
.ligne-top{
    margin-top: 2%;
    display: block;
    background-color:  white;
    padding-left: 2%;
    padding-right: 2%;
    border:solid;
}

.card{
    background-color: ;
}
.clearfix {
    overflow: auto;
  }
.full-height{
    height: 100%;
}
.c-top{
    background: #444;
	margin-top: 0px;
	height: 500px;
	border-bottom: 1px solid black;
    
}
.les-categories{
	height: 100%;;
	background: #fff;
}
.imLeft {
	height: 100%;
	background: #fff;
  }
.imb-1{
	height: 49%;
}
.imb-2{
	height: 49%;
}
@media (min-width: 500px) and (max-width: 990px) {
    .imLeft {
      display: none;
	}
	
}

.img-containt{
    height: 250px;
}
.im-in-card{
    min-height:100%;
    max-height:100%;
}
@media (max-width: 767px) {
    .ligne{
        padding-left:10% ;
		padding-right:10%;
		margin-left:4% ;
		margin-right: 4%;
        
    } 
    .ligne-top{
        padding-left:10% ;
		padding-right:10%;
		margin-left:4% ;
		margin-right: 4%;
    } 
}


.sidebar{
	background: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,19)),url("assets/images/pp.jpg");
	height:  100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	box-shadow: 5px 7px 10px black;
}
.bottom-border{
	border-bottom: 1px groove #eee;
}
.sidebar-link:hover{
	background-color: #444;
	border-radius: 7px;
}
.sidebar-link{
	transition: all .4s;
}
.current{
	background-color: #f44336;
	box-shadow: 1px 2px 5px #111;
	border-radius: 7px;
	transition: all .4s;
}
.current:hover{
	background-color: #f66336;
	box-shadow: 1px 2px 5px #111;
	border-radius: 7px;
	transform: translateY(-2px);
}
.search-input{
	background-color: transparent;
	border: none;
	box-shadow: 1px 3px 10px #111;
	border-bottom: 1px solid #999;
	transition: all .4s;
	
}
.search-input:focus{
	background-color: transparent;
	box-shadow: none;
	border-bottom: 1px solid #dc3545;
	color: white;
	
}
.icon-parent{
	position: relative;
}
.icon-builet::after{
	content: "";
	position: absolute;
	top: 7px;
	left: 15px;
	height: 12px;
	width: 12px;
	background-color: tomato;
}
@media(max-width:768px){
	.sidebar{
		position: static;
		height: auto;
		box-shadow: none;
		
	}
	.top-bar{
		position: static;
		
		
	}
	.my-nav{
		position: static;
		
	}
	
	.c-top{
		
		height: auto;
		
	}
	
}
/*hhhhhhhhhhh*/
